section {
  text-align: center;
}

/* .react-simple-parallax-bg is generate by the component */
section .react-simple-parallax-bg {
  background-image: url('http://tinyurl.com/zaz7bp4');
  height: 7500px;
}

section .parallax {
  top: 2000px;
  margin: auto;
}

.SomeView {
  height: 1000px;
}