.HomeWrapper {

  /*background-color: #f6f6f6;*/


  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  
  overflow-x: hidden;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;

}

.ToolbarHeader {
  display: flex;
  justify-content: center;

  padding-bottom: 20px;
  padding-top: 5%;

  position: fixed;
  width: 100%;
}

.Logo {
  max-width: 100%;
  height: auto;
  
}

.LogoContainer {
  max-width: 50%;
}

.Slideshow {
  display: flex;
  flex-direction: column;
}

.SlideshowContainer {
  display: flex;
  justify-content: space-around;
}

#SlideRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;

  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #1B75BC;
}

.Intro {
  margin-top: 4%;
  margin-bottom: 4%;
}

#Slide {
  height: 70%;
  width: 70%;
}

.Image {
  width: 100%;
  height: auto;


}

#RowText {
  font-size: 18pt;
}

.BGImage {
  background-color: #000000;
  background-image: url("./content/1.jpg");
  background-size: 100%;

  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.ContentHead {
  display: flex;

  justify-content: center;

  padding-bottom: 20px;
  padding-top: 20px;

  position: absolute;
  width: 100%;
  height: 240%;
  top: 60%;

  background-color: #ecf0f1;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterText {
  font-size: 16pt;
  text-align: center;
}

.RegisterConfirmText {
  font-size: 16pt;
  padding-top: 2%;
}

.RegisterContainer {
  align-items: center;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.ConfirmationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}