.container {
  background-color: #B9B9B9 !important;
}

.rfqTitle {
  background-color: #E3E3E3;
  padding-left: 10px;
  text-align: left;
  font-weight: bold !important;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.navigation {
  text-align: left;
  background-color: #3b3d47;
}

.navigationFlatButton {
  color: white !important;
}

.navigationFlatButton :hover {
  color: #C7CBEA;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.dropDownTitle {
  font-size: 10pt;
  background-color: #E3E3E3;
  padding-left: 10px;
}

.supplier {
  vertical-align: top;
  padding-left: 20px;
  display: inline-block;
  font-size: 14pt;
}


.cardText {
  border-left: 1px solid white; 
  padding: 10px;
  text-align: left;
}

.cardTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}