.App {
  text-align: center;
  justify-content: center;
  background-color: #f6f6f6;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

.RegistrationForm {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Example-logo {
  height: 10vw;
}

.textButton {
   background:none;
   border:none;
   color: #ecf0f1;
   font-size: 2.5vw;
}

.Example-header {
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Example-intro {
  font-size: large;
}
