.Wrapper {
  text-align: center;
  justify-content: center;
  
  background-color: #f6f6f6;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 72px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}


.LoginLogo {
  height: 10vw;
}

.textButton {
   background:none;
   border:none;
   color: #ecf0f1;
   font-size: 2.5vw;
}

.Header {
  height: 100px;
  padding: 20px;
  margin-top: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.AuthButtons {
  position: relative;
  padding-top: 50px;
}
